What Python Libraries you need installed 
    - how to install
    - how to call it in code

1.) transformers: pip install transformers
    - from transformers import BertTokenizer, TFBertForMaskedLM

2.) tokenizer: pip install tokenizer
    - used a BertTokenizer (works with transformers)

3.) datasets: pip install datasets
    - from datasets import load_dataset

4.) numpy: pip install numpy
    - import numpy as np

5.) matplotlib: pip install matplotlib
    - import matplotlib.pyplot as plt

6.) tensorflow: pip install tensorflow
    - import tensorflow as tf

7.) streamlit: pip install streamlit
    - import streamlit as st
    - to run this and see the actual site type streamlit run frontend/streamapp.py in the terminal